/* ===============================================================================
// === HEADER STYLES ==========================================
// ===============================================================================
*/

#user-dash--header {
    min-height: 8vh;
}

.user-dash--header_nav {
    display: grid;
    grid-template-columns: 18% 80%;
    height: 8vh;
}


.user-dash--header_div1 img {
    height: 85px;
    width: auto;
    /* margin-left: 25px; */
}

.user-dash--header_div1 h3 {
    color: #3b3a3b;
    font-size: 1rem;
}

.user-dash--header_div1 {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eee;
    background-color: var(--color-primary);
}


.user-dash--header_div2 {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    /* margin-left: 50px; */
    color: #211523;
}

.user-dash--header_div2 i {
    color: #FF7952;
}

.user-dash--header_div2 input {
    border: none;
    margin-left: 30px;
    background-color: transparent;
}

.user-dash--header_userdetails {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #3b3a3b;
    width: 20%;
}

#user-dash--userimg {
    height: 40px;
    width: 40px;
    border-radius: 100px;
}




/* ===============================================================================
// === MAIN SECTION LAYOUT ==========================================
// ===============================================================================
*/

#user-dash--main {
    height: 92vh;
    display: grid;
    grid-template-columns: 18% 40% 22% 20%;
    /* overflow: hidden; */
}



/* ===============================================================================
// === USER INFO AREA AND DASH MENU ===========================================================================
// ===============================================================================
*/

.user-dash--main_left {
    grid-column: 1 / 2;
    border-right: 1px solid #eee;
    height: 92vh;
    display: grid;
    grid-template-rows: 30% 50% 20%;
}

.user-dash--main_leftuser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #415DF0;
    grid-row: 1 / 2;
}

.user-dash--main_leftuser h4 {
    color: #fff;
}

.user-dash--main_leftuser p {
    color: var(--color-text-light);
}

.user-dash--main_leftuser > * {
    margin: 2px 0;
}

#user-dash--mainuserimg {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.user-dash--main_leftuserinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.user-dash--main_leftuserinfo h4 {
    font-size: 1.25rem;
    font-weight: bold;
}

.user-dash--main_leftuserstats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}


.user-dash--main_menu {
    margin-top: 15px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    padding: 20px;
}

.user-dash--main_menu li i {
    padding-right: 10px;
    color: var(--color-text-black_light);
    text-align: center;
    font-size: 1.2rem;
}

.user-dash--main_menu li a:link,
.user-dash--main_menu li a:visited {
    text-decoration: none;
    color: #211523;
    transition: all .2s ease;
}

.user-dash--main_menu li {
    padding: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: var(--color-text-black_lighter);
    cursor: pointer;
    text-align: center;
    transition: all .2s ease;
}

.user-dash--main_menu li > * {
    margin: 4px 0;
}

.user-dash--main_menu li:hover {
    color: var(--color-primary);
}

.user-dash--main_menu li:not(:first-child) {
    font-weight: 700;
}


.user-dash--main_left1 {
    /* height: 60%; */
    grid-row: 2 / 3;
}

.user-dash--left_userstats {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
}

.user-dash--left_userstats i {
    color: var(--color-text-light);
    font-size: 1.2rem;
}

.user-dash--left_userstats div {
    grid-column: 2 / -1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-dash--left_userstats div h3 {
    color: #fff;
}

.user-dash--left_userstats div p {
    color: var(--color-text-light);
}













/* CENTER CONTENT */

.user-dash--main_center {
    grid-column: 2 / 3;
    /* height: 100%; */
}

.user-dash--main_center,
.user-dash--main_right,
.user-dash--main_end {
    background-color: #E8EAED;
}


.user-dash--card_bid {
    padding: 15px;
    width: 100%;
    height: 175px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 70% 30%;
    border-bottom: 1px solid #eee;
    animation: fadeIn .5s ease-out forwards;
}

.user-dash--card_bid .user-dash--card_bidtitle {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eee;
}

.user-dash--card_bidtitle h2 {
    font-size: 2rem;
    color: var(--color-primary);
}

.user-dash--card_bidtitle p {
    font-size: .8rem;
}

.user-dash--card_bid .user-dash--card_bidinfo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 15px;
}

.user-dash--card_bidinfo a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #3b3a3b;
    cursor: pointer;
    transition: all .2s ease;
    font-weight: 700;
}

.user-dash--card_bidinfo p {
    color: var(--color-text-black_lighter);
}

.user-dash--card_bidinfo a:hover {
    color: var(--color-primary-hover);
}

.user-dash--card_bidinfo div {
    display: flex;
    align-items: center;
}

.user-dash--card_bidinfo div p {
    margin-left: 20px;
    font-size: .8rem;
    color: var(--color-primary);
}

.user-dash--card_bidinfo div img {
    margin-right: -15px;
}

.user-dash--card_bidimg {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
}

.user-dash--card_bidimg img {
    border-radius: 5px;
}

.user-dash--card_bid .user-dash--card_bidoptions {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.user-dash--card_bidbtn {
    background-color: transparent;
    border: 1px solid #eee;
    padding: 10px 25px;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

.user-dash--card_bidbtn:hover {
    color: var(--color-primary-hover);
    border-color: var(--color-primary-hover);
}



/* ===============================================================================
// === RIGHT CONTENT (FEED) ==========================================
// ===============================================================================
*/

.user-dash--main_right {
    grid-column: 3 / 4;
    display: grid;
}

.user-dash--feed_recentbid {
    display: grid;
    height: 70px;
    grid-template-columns: 20% 60% 20%;
    margin: 10px 0;
    transition: all .2s ease;
    padding: 5px 10px;
}

.user-dash--feed_recentbid:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.user-dash--feed_bidimg {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dash--feed_bidimg img {
    height: 45px;
    width: 45px;
    border-radius: 100px;
}

.user-dash--feed_bidcontent {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.user-dash--feed_bidcontent > * {
    margin: 2px 0 5px 0;
}

.user-dash--feed_bidcontent h3 {
    font-size: 1rem;
    color: var(--color-text-black);
}

.user-dash--feed_bidcontent p {
    color: var(--color-text-black_lighter);
}


.user-dash--feed_biddiscover {
    grid-column: 3 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dash--feed_biddiscover a:link,
.user-dash--feed_biddiscover a:visited {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 1.25rem;
    transition: all .2s ease;
}

.user-dash--feed_biddiscover a:hover {
    color: var(--color-primary);
}




/* ===============================================================================
// === FAR RIGHT SECTION ====================================================================
// ===============================================================================
*/

.user-dash--main_end {
    grid-column: 4 / -1;
}





/* ===============================================================================
// === PAGE-WIDE ELEMENTS ==========================================
// ===============================================================================
*/

.user-dash--main_card {
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    height: 87vh;
    /* padding: 20px; */
    display: grid;
    grid-template-rows: 8% 92%;
    /* overflow-y: scroll; */
}

.user-dash--main_card2 {
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    height: 41vh;
    /* width: 500px; */
}

.user-dash--main_card3 {
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    height: 87vh;
    /* width: 95%; */
}


.user-dash--main_cardtitle {
    grid-row: 1 / 2;
    /* border-bottom: 1px solid #eee; */
    font-size: 1.2rem;
    color: #fff;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
}

.user-dash--main_cardtitle h3 {
    margin-left: 20px;
}

.user-dash--main_cardcontent {
    grid-row: 2 / -1;
    /* display: flex;
    flex-direction: column; */
    /* display: grid;
    grid-template-rows: auto; */
    overflow-y: scroll;
}



.user-dash--feed_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: var(--color-text-black_light);
}

.user-dash--feed_title > * {
    margin: 0 10px;
}

.user-dash--feed_title h4 {
    /* position: relative; */
    line-height: 2.5;
    padding-left: 10px;
}

.user-dash--feed_title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
}

/* No content to show styles */

.user-dash--nobids {
    height: 100%;
    width: 100%;
    position: relative;
}

.user-dash--nobids_content > * {
    margin: 10px 0;
}

.user-dash--nobids_content h2 {
    font-size: 2rem;
}

.user-dash--nobids_content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


/* ACTIVE STYLES */

.user-dash--main_menuactive {
    color: #fff !important;
}

.user-dash--main_menuactive i {
    color: #fff;
}

.user-dash--main_menuactive::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 75%;
    border-radius: 5px;
    background-color: var(--color-primary-hover);
    z-index: -1;
}




/* TOGGLE CLASSES */

#user-dash--artistcontent {
    display: 'none';
}


/* PAGE ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}




/* ===============================================================================
// === MEDIA QUERIES ====================================================================
// ===============================================================================
*/

@media screen and (max-width: 1250px) {
    #user-dash--main {
        grid-template-columns: 5% 60% 35%;
    }
}