#user-dash--header {
    min-height: 8vh;
}

.user-dash--header_nav {
    border-bottom: 1px solid #eee !important;
    display: grid;
    grid-template-columns: 20% 80%;
    height: 8vh;
}

.user-dash--header_div1 img {
    border-radius: 50%;
    height: 65px;
    width: auto;
    margin-left: 25px;
}

.user-dash--header_div1 h3 {
    color: #3b3a3b;
    font-size: 1rem;
}

.user-dash--header_div1 > * {
    margin: 0 10px;
}

.user-dash--header_div1 {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid #eee;
}


.user-dash--header_div2 {
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-left: 50px;
    color: #211523;
}

.user-dash--header_div2 i {
    color: #FF7952;
}

.user-dash--header_div2 input {
    border: none;
    margin-left: 30px;
    background-color: transparent;
}




/* MAIN SECTION */

#user-dash--main {
    height: 92vh;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    /* overflow: hidden; */
}



/* MENU */

.user-dash--main_left {
    grid-column: 1 / 2;
    border-right: 1px solid #eee;
    background-color: var(--color-secondary-brown);
}

.user-dash--main_menu {
    margin-top: 15px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
}

.user-dash--main_menu li i {
    padding-right: 10px;
}

.user-dash--main_menu li a:link,
.user-dash--main_menu li a:visited {
    text-decoration: none;
    color: #fff;
    transition: all .2s ease;
}

.user-dash--main_menu li {
    padding-left: 30px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    cursor: pointer;
    transition: all .2s ease;
}

.user-dash--main_menu li:hover {
    color: var(--color-primary);
}

.user-dash--main_menu li:not(:first-child) {
    font-weight: 700;
}

.user-dash--main_menu li a:hover {
    color: #FF7952;
}



.user-dash--main_left1 {
    height: 375px;
    /* border-bottom: 1px solid #eee; */
}



/* CENTER CONTENT */

.user-dash--main_center {
    grid-column: 2 / 3;
    /* height: 100%; */
}

.user-dash--main_center,
.user-dash--main_right {
    background-color: #E8EAED;
}


.user-dash--card_bid {
    padding: 15px;
    width: 100%;
    height: 175px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 70% 30%;
    border-bottom: 1px solid #eee;
    animation: fadeIn .5s ease-out forwards;
}

.user-dash--card_bid .user-dash--card_bidtitle {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #eee;
}

.user-dash--card_bidtitle h2 {
    font-size: 2rem;
    color: #FF7952;
}

.user-dash--card_bidtitle p {
    font-size: .8rem;
}

.user-dash--card_bid .user-dash--card_bidinfo {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 15px;
}

.user-dash--card_bidinfo a {
    text-decoration: none;
    font-size: 1.3rem;
    color: #3b3a3b;
    cursor: pointer;
    transition: all .2s ease;
}

.user-dash--card_bidinfo a:hover {
    color: #FF7952;
}

.user-dash--card_bidinfo div {
    display: flex;
    align-items: center;
}

.user-dash--card_bidinfo div p {
    margin-left: 20px;
    font-size: .8rem;
    color: #FF7952;
}

.user-dash--card_bidinfo div img {
    margin-right: -15px;
}

.user-dash--card_bidimg {
    grid-column: 3 / -1;
    grid-row: 1 / -1;
}

.user-dash--card_bidimg img {
    border-radius: 5px;
}

.user-dash--card_bid .user-dash--card_bidoptions {
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
}

.user-dash--card_bidbtn {
    background-color: transparent;
    border: 1px solid #eee;
    padding: 10px 25px;
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

.user-dash--card_bidbtn:hover {
    color: #FF7952;
    border-color: #FF7952;
}



/* ===============================================================================
// === RIGHT CONTENT (FEED) ==========================================
// ===============================================================================
*/

.user-dash--main_right {
    grid-column: 3 / -1;
    display: grid;
}

.user-dash--feed_recentbid {
    display: grid;
    height: 70px;
    grid-template-columns: 20% 60% 20%;
    margin: 10px 0;
}

.user-dash--feed_bidimg {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dash--feed_bidimg img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
}

.user-dash--feed_bidcontent {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.user-dash--feed_bidcontent > * {
    margin: 2px 0 5px 0;
}

.user-dash--feed_bidcontent h3 {
    font-size: 1rem;
}


.user-dash--feed_biddiscover {
    grid-column: 3 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-dash--feed_biddiscover a:link,
.user-dash--feed_biddiscover a:visited {
    color: #FF7952;
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .2s ease;
}

.user-dash--feed_biddiscover a:hover {
    color: rgb(201, 93, 60);
}


/* PAGE-WIDE STYLES */

.user-dash--main_card {
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    height: 87vh;
    /* padding: 20px; */
    display: grid;
    grid-template-rows: 8% 92%;
    /* overflow-y: scroll; */
}

.user-dash--main_card2 {
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #eee;
    height: 40vh;
    width: 500px;
}


.user-dash--main_cardtitle {
    grid-row: 1 / 2;
    border-bottom: 1px solid #eee;
    font-size: 1.2rem;
    color: #555;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}

.user-dash--main_cardtitle h3 {
    margin-left: 20px;
}

.user-dash--main_cardcontent {
    grid-row: 2 / -1;
    /* display: flex;
    flex-direction: column; */
    /* display: grid;
    grid-template-rows: auto; */
    overflow-y: scroll;
}



.user-dash--feed_title h4 {
    position: relative;
    line-height: 2.5;
    padding-left: 10px;
}

.user-dash--feed_title h4::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #eee;
}

/* No content to show styles */

.user-dash--nobids {
    height: 100%;
    width: 100%;
    position: relative;
}

.user-dash--nobids_content > * {
    margin: 10px 0;
}

.user-dash--nobids_content h2 {
    font-size: 2rem;
}

.user-dash--nobids_content {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}


/* ACTIVE STYLES */

.user-dash--main_menuactive {
    color: #FF7952 !important;
    /* border-top: 1px solid rgba(255, 122, 82, 0.5);
    border-bottom: 1px solid rgba(255, 122, 82, 0.5);
    background-color: rgba(255, 122, 82, 0.1); */
}

.user-dash--main_menuactive::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #FF7952;
}




/* TOGGLE CLASSES */

#user-dash--artistcontent {
    display: 'none';
}


/* PAGE ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}




/* ===============================================================================
// === MEDIA QUERIES ====================================================================
// ===============================================================================
*/

@media screen and (max-width: 1250px) {
    #user-dash--main {
        grid-template-columns: 5% 60% 35%;
    }
}