<% include partials/header %>
    

    
<section class="landing-header">

    <div class="landing-content center-top">
        <h1 class="landing-title">See the artists you <strong>want.</strong></h1>
        <h3 class="landing-subtitle">Not the ones you <strong>have to.</strong></h3>
        <a class="primary-btn--alt" href="/signup" class="landing-header--cta">Get Started <i class="far fa-play-circle"></i></a>
    </div>

</section>


<section class="landing-1">
    <div class="landing-1--content center">
        <div class="card-info--1">
            <div class="card-info--1_img">
                    <i class="fas fa-headphones fa-3x"></i>
            </div>
            <div class="card-info--1_text">
                <h4 class="card-info--title">For listeners.</h4>
                <p class="card-info--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ratione. Nesciunt, asperiores.</p>
                <a href="#">I'm a fan <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>

        <div class="card-info--1">
            <div class="card-info--1_img">
                    <i class="fas fa-music fa-3x"></i>
            </div>
            <div class="card-info--1_text">
                <h4 class="card-info--title">For artists.</h4>
                <p class="card-info--description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos,
                    ratione. Nesciunt, asperiores.</p>
                <a href="#">I'm an artist <i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
        
    </div>
</section>





<% include partials/footer %>