<main id="login-page">
    <% include partials/header %>

    <div class="container">

        <section class="login-page--form">
            <form action="/login" method="POST" id="login-form">
                <img src="/img/logotext.png" alt="">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <button class="btn btn-primary">Login</button>
            </form>
            <div class="login-page--img">
            <img src="/img/iso1.png" alt="">
            </div>
        </section>

    </div>




</main>

<% include partials/footer %>
