<% include partials/header-authenticated %>

<!-- Getting artist.img and artist.name -->

<main id="profile-artist--main">
    <div class="profile-artist--top" style="background: url('<%= artist.img %>')">
        <div class="profile-artist--top_content">
            <h1><%= artist.name %></h1>
            <p><%= artist.description %></p>
            <button class="btn-round--light" id="profile-artist--savebtn"><i class="fas fa-heartbeat"></i> Save</button>
        <div>
    </div>
</main>





<% include partials/footer %>