<% include partials/header %>



<section class="signup">
    <div class="signup-left">

    </div>

    <div class="signup-center">
        <div class="signup-area">

                <div class="signup-logo">
                        <h4>Bookr</h4>
                    </div>
            
                    <div class="signup-form">
                        <form>
                            <!-- <label>Username</label> -->
                            <input type="text" placeholder="Username">
                            <!-- <label>Email</label> -->
                            <input type="email" placeholder="Email">
                            <!-- <label>Password</label> -->
                            <input type="password" placeholder="Password">
                        </form>
            
                        <p>Already have an account? <span>Sign In.</span></p>
            
                        <button class="primary-btn">Sign Up</button>
                    </div>
                    
                    <footer class="signup-footer">
                        <p>Copyright &copy; 2018 Bookr. All Rights Reserved.</p>
                    </footer>
                </div>

        </div>
    

    <div class="signup-right">

    </div>
</section>





<% include partials/footer %>