<% include partials/header %>



<section class="signup">
    <div class="signup-left">

    </div>

    <div class="signup-center">
        <div class="signup-area">

                <div class="signup-logo">
                        <h4>Bookr</h4>
                    </div>
            
                    <div class="signup-form">
                        <!-- <form>
                            <input type="text" placeholder="Username" id="signup-username">
                            <input type="email" placeholder="Email" id="signup-email">
                            <input type="password" placeholder="Password" id="signup-password">
                            <input type="submit">
                        </form> -->

                        <form action="/signup" method="POST">
                            <input type="text" name="username" placeholder="Username">
                            <input type="password" name="password" placeholder="Password">
                            <button>Submit</button>
                        </form>
            
                        <p>Already have an account? <span>Sign In.</span></p>
            
                        <!-- <button class="btn btn-primary" id="signup-btn">Sign Up</button> -->
                    </div>
                    
                    <footer class="signup-footer">
                        <p>Copyright &copy; 2018 <span><a>Bookr</a></span>. All Rights Reserved.</p>
                    </footer>
                </div>

        </div>
    

    <div class="signup-right">

    </div>
</section>



<script src="/js/signup.js"></script>

<% include partials/footer %>