/* @import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700'); */
@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700'); 

@import url('static/navbar.css');
@import url('static/landing.css');
@import url('static/signup.css');
@import url('static/about.css');
@import url('static/login.css');



@import url('dynamic/listenerdash.css');
@import url('dynamic/profile-artist.css');



@import url('utilities/utilities.css');
@import url('utilities/elements.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Muli', sans-serif;
}