
<main id="about-main">
<% include ../partials/header %>
<div class="container">

    <section class="about-header">
        <div class="about-header--content">
            <h1>
                Become the <br><span>promoter.</span>
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam similique consequatur perspiciatis ut, labore id modi suscipit delectus cumque?
                Corrupti.
            </p>
            <a href="/signup" class="btn-link">Get Started <i class="fas fa-chevron-right"></i></a>
        </div>
        <figure style="padding-left: 50px;"><img src="/img/iso1.png" alt=""></figure>
    </section>



    <section class="about-section1">
            <figure style="padding-right: 90px;"><img src="/img/iso3.png" alt=""></figure>
            <div class="about-header--content">
                    <h1>
                       Bid what you <span>want.</span>
                    </h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quisquam similique consequatur perspiciatis ut, labore id modi suscipit delectus cumque?
                        Corrupti.
                    </p>
                    <a href="/signup" class="btn-link">Start Booking <i class="fas fa-chevron-right"></i></a>
                </div>
    </section>




    <section class="about-section2">

        <div class="card-landingpage">
            <div class="card-landingpage--content">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore hic assumenda doloremque!</p>
            </div>
            <div style="grid-row: 2 / 3;"></div>
            <figure class="card-landingpage--img"><img src="/img/iso3.png" alt="" class="grid-img"></figure>
        </div>

        <div class="card-landingpage">
            <div class="card-landingpage--content">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore hic assumenda doloremque!</p>
            </div>
            <div style="grid-row: 2 / 3;"></div>
            <figure class="card-landingpage--img"><img src="/img/iso1.png" alt="" class="grid-img"></figure>
        </div>

        <div class="card-landingpage">
            <div class="card-landingpage--content">
                <h3>Lorem Ipsum</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore hic assumenda doloremque!</p>
            </div>
            <div style="grid-row: 2 / 3;"></div>
            <figure class="card-landingpage--img"><img src="/img/iso2.png" alt="" class="grid-img"></figure>
        </div>

    </section>

</div>
</main>









<% include ../partials/footer %>