/* ===================================
==== HEADER =================
====================================== */

.landing-header {
    height: 100vh;
    background: url('../../img/loginbg.png');
    background-size: cover;
    position: relative;
}

.landing-content {
    color: rgb(236, 236, 236);
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-content > * {
    margin: 12px 0;
}

.landing-title {
    font-weight: 300;
    margin-bottom: 10px;
}

.landing-subtitle {
    font-weight: 300;
    font-size: 1.5rem;
    opacity: .75;
}

.landing-content a {
    font-size: 1rem;
    text-decoration: none;
}

.landing-content p {
    font-size: 1rem;
}



/* ===================================
==== SECTION 1 =================
====================================== */

.landing-1 {
    position: relative;
    height: 65vh;
    background-color: #eee;
}

.landing-1--content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.landing-header--cta a {
    text-decoration: none;
    margin-top: 40px;
}