input:focus {
    outline: none;
    border-bottom-color: #d46f27;
}

.signup {
    height: 100vh;
    background: url('../../img/loginbg.png');
    background-size: cover;
    display: flex;
}

.signup-area {
    width: 50%;
}

.signup-left {
    flex: 2;
}

.signup-center {
    flex: 6;
    /* background-color: #14194bab; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-area {
    text-align: center;
}

.signup-center .signup-logo {
    margin-bottom: 30px;
    color: rgb(236, 236, 236);
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.signup-area input {
    color: rgba(236, 236, 236, 0.75);
    display: block;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(236, 236, 236, 0.2);
    height: 45px;
    width: 100%;
    margin: 15px 0;
    transition: all 0.3s;
}

.signup-area input[placeholder] {
    color: #fff;
}

.signup-area input:focus {
    border-bottom-color: 1px solid #d46f27 !important;
}

.signup-form p {
    font-size: .75rem;
    color: rgb(236, 236, 236);
    padding-bottom: 10px;
}

.signup-form p span {
    color: #d46f27;
    cursor: pointer;
}

.signup-footer {
    color: rgba(236, 236, 236, 0.75);
    font-size: .75rem;
    margin-top: 30px;
}

.signup-right {
    flex: 2;
}




@media screen and (max-width: 768px) {
    .signup-left {
        display: none;
    }

    .signup-center {
        flex: 1;
    }
    .signup-right {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .signup-area {
        width: 75%;
    }
}