* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

#sidebar-wrapper {
    height: 100vh;
    background-color: #3C4E67;
    width: 265px;
    overflow-x: hidden;
    box-shadow: 5px 0 8px rgba(0, 0, 0, 0.3);
    transition: all .3s ease-out;
}

#wrapper.sidebar-displayed #sidebar-wrapper {
    width: 80px;
}

#sidebar-header {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
}

#sidebar-header--content {
    display: flex;
    align-items: center;
}

#sidebar-header--content > * {
    padding: 0 10px;
}

#sidebar-header--content h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
}

#sidebar-header--img {
    height: 35px;
    width: 35px;
    background-color: #00D8D5;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


#sidebar-header--burger {
    cursor: pointer;
}

#sidebar-header--burger div {
    background-color: #A9B7D0;
    height: 2.3px;
    margin: 3px 0;
    transition: all .3s ease-out;
}

#sidebar-header--burger:hover div {
    background-color: #fff;
}

#burger1 {
    width: 7px;
}

#burger2 {
    width: 17px;
}

#burger3 {
    width: 13px;
}



#user-dash--navlist {
    list-style: none;
}

#user-dash--navlist li {
    display: block;
    font-size: 14px;
    color: #fff;
    line-height: 21px;
}

