/* ===================================
==== BUTTONS =================
====================================== */

.btn {
    padding: 12px 35px;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 100px;
    transition: all 0.3s ease;
}

.btn-primary {
    border: none;
    background-color: #7685E9;
    color: rgb(236, 236, 236);
    position: relative;
}

.btn-primary:hover {
    background-color: rgb(83, 95, 172);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.primary-btn--alt {
    padding: 12px 35px;
    border: 1px solid #d46f27;
    margin: 80px 0;
    color: #d46f27;
    background: transparent;
    cursor: pointer;
    border-radius: 100px;
    transition: all .3s ease;
    font-size: 1rem;
}

.primary-btn--alt:hover {
    border: 1px solid rgb(236, 236, 236);
    color: rgb(236, 236, 236);
}

.btn-utility {
    padding: 12px 35px;
    background: transparent;
    color: #555;
    border: none;
    font-weight: 300;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-utility:hover {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}


.btn-round--light {
    padding: 10px 25px;
    background: rgba(236, 236, 236, 0.55);
    color: #21bd4f;
    margin: 20px 20px 20px 0;
    border: none;
    border-radius: 100px;
    line-height: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn-round--light:hover {
    background: rgba(236, 236, 236, 0.85);
    color: #118032;
}

.btn-category {
    padding: 5px 10px;
    background-color: rgba(99, 168, 179, 0.432);
    color: #fff;
    font-weight: 300;
    font-size: .85rem;
    border-radius: 100px;
    margin: 10px 10px 10px 0;
    transition: all .1s ease;
}

.btn-category:hover {
    background-color: rgba(99, 168, 179, 0.65);
}

.btn-category:link,
.btn-category:visited {
    text-decoration: none;
}

.btn-link {
    text-decoration: none;
    padding: 15px 25px;
    margin-top: 15px;
    background-color: #7685E9;
    color: #eeeef1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all .2s ease;
    position: relative;
    border-radius: 5px;
}

.btn-link:hover {
    background-color: rgb(83, 97, 185);
    bottom: 2px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.20);
}


.btn-special::before {
    content: '';
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d46f27;
    border-radius: 100px;
    opacity: 0;
    animation: btnSpecial 1s ease-in-out 3s 5 forwards;
}

@keyframes btnSpecial {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.5;
        transform: scale(1.05);
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(1.3);
    }
}

/* ===================================
==== CARDS =================
====================================== */

/* SHOWS */

.card-shows {
    height: 385px;
    width: 300px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: grid;
    grid-template-rows: 40% 45% 15%;
    transition: all .3s ease;
}

.card-shows:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.card-shows--img {
    grid-row: 1 / 2;
}

.card-shows--content {
    grid-row: 2 / 3;
}

.card-shows--friends {
    grid-row: 3 / -1;
    margin: 10px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}


.card-shows--content h3 {
    color: #555;
    padding: 15px 30px 0px 30px;
}

.card-shows--content h3 a:link,
.card-shows--content h3 a:visited {
    text-decoration: none;
    color: #555;
    transition: all .3s ease;
}

.card-shows--content h3 a:hover {
    color: #d46f27;
}

.card-shows--content_location {
    color: #666;
    font-weight: 500;
}

.card-shows--content_fans {
    color: #d46f27;
    font-weight: 400;
}

.card-shows--content p {
    color: #888;
    font-weight: 300;
    padding: 10px 30px;
    font-size: .9rem;
}

.card-shows--content p a {
    color: #d46f27;
    text-decoration: none;
}

.card-shows--friends img {
    margin-right: -10px;
}

.card-shows--friends p {
    display: inline;
    line-height: 20px;
    color: #888;
    font-weight: 300;
    font-size: .8rem;
    margin-left: 20px;
}


/* LANDING PAGE CARD 1 */

.card-landingpage {
    padding: 15px;
    height: 42%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.40);
    display: grid;
    grid-template-rows: 60% 10% 30%;
    overflow: hidden;
}

.card-landingpage--content {
    grid-row: 1 / 2;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-landingpage--content h3 {
    color: #7685E9;
    font-weight: 600;
}

.card-landingpage--content p {
    color: #555;
    line-height: 1.6;
}


.card-landingpage--img {
    grid-row: 3 / -1;
}






/* ===================================
==== CARDS =================
====================================== */

.modal {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    height: 40%;
    width: 30%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
    animation: modalSlideTop .5s ease-out forwards;
}

.modal-bg {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
}

@keyframes modalSlideTop {
    from{
        opacity: 0;
        /* transform: translateY(-80px); */
    } to{
        opacity: 1;
        /* transform: translateY(0); */
    }
}
